.container
{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.hero
{
    height: 50vh;
}

.content-article
{
    margin-bottom: var(--margin-large);
}

.call-to-action-button
{
    border-radius: 50px;
    padding: var(--padding-large);
}

.map-container
{
    position: absolute;
    width: 100%;
}

