#terms-hero
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../../../resources/images/backdrops/terms-section-backdrop.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: #423E3E;
}

.terms-content
{
    padding: calc(var(--padding-large) + .625rem);
}